* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans;
}
.container {
    margin: 0 auto;
    width: 370px;
    padding: 5px;
    overflow: hidden;
}
.row {
    padding: 2px 0;
}
.result {
    font-size: 20px;
}
input#distance {
    width: 200px;
    margin: 0 auto;
    display: block;
}
input {
    text-align: right;
    font-size: 20px;
    padding: 10px;
}
button {
    border-radius: 5px;
    background: #998f8f38;
    border: none;
    color: #010101;
    line-height: 2;
}

.stops {
    width: 280px;
    margin: 0 auto;
}
.stops input {
    width: 12%;
    background: #fff;
    border: none;
    color: #000;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.stops button {
    width: 7%;
}
.stop_text {
    display: none;
}
