* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans;
}
.container {
    margin: 0 auto;
    width: 320px;
    padding: 5px;
    overflow: hidden;
}
.row {
    padding: 2px 0;
}
.row.input {
    text-align: center;
}
.row input#tx_distance {
    text-align: right;
    width: 200px;
    margin: 0 auto;
    font-size: 22px;
    padding: 6px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
}
.row.stopover {
    padding: 10px;
}
.row.stopover div,
.row.stopover span {
    display: inline-block;
    width: 48%;
    text-align: center;
}
.row.stopover input {
    width: 20%;
    text-align: center;
    border: none;
    background: 0 0;
    color: #000;
    font-size: 18px;
}
.row.stopover button {
    padding: 5px;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    outline: 0;
    color: #000;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
}
.result {
    font-size: 16px;
}
div.estimates {
    padding: 5px;
    width: 100%;
}
div.estimates label {
    display: inline-block;
}
div.estimates label:first-child {
    font-weight: 900;
    text-align: left;
    width: 80%;
}
div.estimates label:last-child {
    text-align: right;
    width: 20%;
}
button.btn {
    padding: 5px;
    width: 49%;
    margin: 5px auto;
    text-align: center;
    cursor: pointer;
    outline: 0;
    color: #000;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    font-size: 14px;
}
.row.stopover button:hover,
button.btn:hover {
    background-color: #c1c1c1;
    color: #fff;
}
.row.stopover button:active,
button.btn:active {
    background-color: #c1c1c1;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

div.scripts {
    padding-top: 10px;
}
